<DOCTYPE! html>
<hmtl lang="en">
    <head>
        <meta charset="utf-8">
        <title>Creat Report</title>
        
    </head>
    <body>
        <h1>Club management system</h1>
            <div>
                <p>All of your reports are here</p>
                
            </div>    
            
    </body>
</hmtl>    


