<DOCTYPE! html>
<hmtl lang="en">
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        
    </head>
    <body>
        <h1>Club management system</h1>
            <p>This the instruction for how to use system</p>
            <form action="/login" method="GET" ><input type="submit" value="login"> </form>
            <form action="/signup" method="GET" ><input type="submit" value="signup"> </form>
    </body>
</hmtl>    


