<DOCTYPE! html>
<hmtl lang="en">
    <head>
        <meta charset="utf-8">
        <title>Loging</title>
        
    </head>
    <body>
        <h1>Club management system</h1>
            <p>Log in to write a report</p>
            <form action="/login" method="POST" >
                <input type="text" value="" name="username">
                <input type="password" value="" name="password">
                <input type="submit" value="login">
            </form>
    </body>
</hmtl>    


