<DOCTYPE! html>
<hmtl lang="en">
    <head>
        <meta charset="utf-8">
        <title>Report</title>
        
    </head>
    <body>
        <h1>Club management system</h1>
            <div>
                <p>There is your report</p>
                <form action="/user/report/edit" method="GET">
                    <input type="submit" value="edit">
                </form>
            </div>    
            
    </body>
</hmtl>    


