<DOCTYPE! html>
<hmtl lang="en">
    <head>
        <meta charset="utf-8">
        <title>Sign up</title>
        
    </head>
    <body>
        <h1>Club management system</h1>
            <p>Please complete this form</p>
            <form action="/signup" method="POST" >
            Family Name:     <input type="text" value="" name="familyname"></br>
            Fisrt name: <input type="text" value="" name="firstname"></br>
            User name:    <input type="text" value="" name="username"></br>
            Password:   <input type="password" value="" name="password"></br>
            Confirm password :   <input type="password" value="" name="confirmpassword"></br>
             <input type="submit" value="signup"></br>
            </form>
    </body>
</hmtl>    


